name: Unit Tests

on: [pull_request, push]


jobs:
  prepare_matrix:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.generate-matrix.outputs.active }}
    steps:
    - name: Select all active LTS versions of Node.js
      id: generate-matrix
      uses: msimerson/node-lts-versions@v1

  node_test:
    needs:
    - prepare_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.prepare_matrix.outputs.versions) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run js linter

  java_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/*
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '22'
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint:java
      name: Run server linter
    - run: npm run test
      name: Run server unit tests
